.selectLank{
    padding-top:20px;
    display:flex;
    flex-direction: column;
}
.lankname{
    height:30%;
}
.inputlevel{
    height:40%;
}
.unionSelect{
    position:relative;
    display:flex;
    width:330px;
    left:50%;
    transform: translate(-50%);
}
.unionicon{
    cursor: pointer;
    width:60px;
    margin:10px;
    margin-top:0px;
    margin-bottom:0px;
    opacity: 0.6;
}
.levelSelect{
    position:relative;
    display:flex;
    width:170px;
    left:50%;
    transform: translate(-50%);
}
.levelSelect div{
    margin:10px;
    width:25px;
    color:gray;
    cursor: pointer;
}
.member{
    height:30%;
}
